.main .logo-con {
  height: 64px;
  padding: 10px;
}
.main .logo-con img {
  height: 44px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.main .header-con {
  background: #fff;
  padding: 0 20px;
  position: fixed;
  width: 100%;
}
.main .main-layout-con {
  height: 100%;
  overflow: hidden;
}
.main .main-content-con {
  height: calc(100% - 60px);
  overflow: hidden;
}
.main .tag-nav-wrapper {
  padding: 0;
  height: 40px;
  background: #F0F0F0;
  overflow: hidden;
}
.main .content-wrapper {
  padding: 18px;
  height: calc(100% - 80px);
  overflow: auto;
}
.main .left-sider .ivu-layout-sider-children {
  overflow-y: scroll;
  margin-right: -18px;
}
.main .avatar {
  position: absolute;
  top: 12px;
  right: 5px;
}
/*# sourceMappingURL=main.css.map */