
<template>
    <div style="height: 100%">
    <Modal
            title=""
            width="20"
            v-model="loginModal">

        <Form ref="formInline" :model="formInline" :rules="ruleInline" >
            <FormItem prop="email">
                <Input type="text" v-model="formInline.email" placeholder="Email">
                <Icon type="ios-person-outline" slot="prepend"></Icon>
                </Input>
            </FormItem>
            <FormItem prop="password">
                <Input type="password" v-model="formInline.password" placeholder="Password">
                <Icon type="ios-lock-outline" slot="prepend"></Icon>
                </Input>
            </FormItem>
        </Form>
        <div slot="footer">
            <Button type="success" size="large" long @click="verifyUser('formInline')">Login</Button>
        </div>
    </Modal>
  <Layout
    style="height: 100%"
    class="main">
    <Sider ref = "collapsedSider" :width="256"
      :collapsed-width="42"
      v-model="collapsedLeft"
      :style="{overflow: 'hidden'}"
      hide-trigger
      collapsible
      class="left-sider">
        <transition name="fade" :duration="1000">
      <div
        v-if="!collapsedLeft"
        style="float:left;">
          <Menu active-name="1-2" theme="dark" width="auto" :class="menuitemClasses">
              <MenuItem name="1-1">
                  <span>Категория</span>
              </MenuItem>
              <MenuItem name="1-2">
                  <span>Категория</span>
              </MenuItem>
              <MenuItem name="1-3">
                  <span>КАтегория</span>
              </MenuItem>
          </Menu>
      </div>
        </transition>
      <div style="float:right; width: 42px; padding-left: 5px">
        <Button style="position: absolute; top: 50%; right: 5px; "
          type="primary"
          shape="circle"
          icon="md-arrow-back"
          @click="collapsedLeftSider"/>
      </div>

    </Sider>
    <Layout style="height: 100%">
      <Header>
        <Input
          placeholder="Enter something..."
          style="max-width: 600px" search />
          <transition name="fade" :duration="1000">
            <Button v-if="!showPanel" :size="buttonSize" icon="ios-download-outline" type="primary" style="position: absolute;top: 17px; right: 17px;" @click="userLogin">Login</Button>
          </transition>
          <transition name="fade" :duration="1000">
            <Button v-if="showPanel" :size="buttonSize" icon="ios-download-outline" type="primary" style="position: relative ; top: 17px; left: 35px; float: right;" @click="userLogout">Logout</Button>
          </transition>
      </Header>
      <Content class="main-content-con">
        <Layout class="main-layout-con">
          <Content class="content-wrapper">
              <!--<Scroll :on-reach-bottom="handleReachBottom">-->
            <!--<keep-alive :include="cacheList">-->
              <!--<router-view/>-->
              <Row>
                  <Col :xs="{ span: 5, offset: 1 }" :lg="{ span: 6, offset: 2 }">
                      <Card style="width:320px; height: 600px; padding: 5px">
                          <p slot="title">Anna</p>
                          <Rate slot="extra" v-model="value" />
                          <div style="text-align:center">
                              <img src="../../images/1.jpg" style="height: 450px">
                              <h3>regvaerdfafbdbdfbzdfbcvberfearf</h3>
                          </div>
                      </Card>

                  </Col>
                  <Col :xs="{ span: 5, offset: 1 }" :lg="{ span: 6, offset: 2 }">
                      <Card style="width:320px; height: 600px; padding: 5px">
                          <p slot="title">Anna</p>
                          <Rate slot="extra" v-model="value" />
                          <div style="text-align:center">
                              <img src="../../images/2.jpg" style="height: 450px">
                              <h3>regvaerdfafbdbdfbzdfbcvberfearf</h3>
                          </div>
                      </Card>
                  </Col>
                  <Col :xs="{ span: 5, offset: 1 }" :lg="{ span: 6, offset: 2 }">
                      <Card style="width:320px; height: 600px; padding: 5px">
                          <p slot="title">Anna</p>
                          <Rate slot="extra" v-model="value" />
                          <div style="text-align:center">
                              <img src="../../images/3.jpg" style="height: 450px">
                              <h3>regvaerdfafbdbdfbzdfbcvberfearf</h3>
                          </div>
                      </Card>
                  </Col>
              </Row>
              <Row>
                  <Col :xs="{ span: 5, offset: 1 }" :lg="{ span: 6, offset: 2 }">
                      <Card style="width:320px; height: 600px; padding: 5px">
                          <p slot="title">Anna</p>
                          <Rate slot="extra" v-model="value" />
                          <div style="text-align:center">
                              <img src="../../images/1.jpg" style="height: 450px">
                              <h3>regvaerdfafbdbdfbzdfbcvberfearf</h3>
                          </div>
                      </Card>

                  </Col>
                  <Col :xs="{ span: 5, offset: 1 }" :lg="{ span: 6, offset: 2 }">
                      <Card style="width:320px; height: 600px; padding: 5px">
                          <p slot="title">Anna</p>
                          <Rate slot="extra" v-model="value" />
                          <div style="text-align:center">
                              <img src="../../images/2.jpg" style="height: 450px">
                              <h3>regvaerdfafbdbdfbzdfbcvberfearf</h3>
                          </div>
                      </Card>
                  </Col>
                  <Col :xs="{ span: 5, offset: 1 }" :lg="{ span: 6, offset: 2 }">
                      <Card style="width:320px; height: 600px; padding: 5px">
                          <p slot="title">Anna</p>
                          <Rate slot="extra" v-model="value" />
                          <div style="text-align:center">
                              <img src="../../images/3.jpg" style="height: 450px">
                              <h3>regvaerdfafbdbdfbzdfbcvberfearf</h3>
                          </div>
                      </Card>
                  </Col>
              </Row>




            <!--</keep-alive>-->
                  <!--</Scroll>-->
          </Content>
        </Layout>
      </Content>
    </Layout>

    <Sider
            v-if="showPanel"
      :width="256"
      :collapsed-width="52"
      v-model="collapsedRight"
      :style="{overflow: 'hidden'}"
      hide-trigger
      collapsible
      class="right-sider">
        <div class="avatar" style="height:72px;">
                <Avatar icon="ios-person" size="large"/>
        </div>

        <div style="float:left; width: 52px">
            <Button style="position: absolute; top: 50%; left: 5px;"
                    type="primary"
                    shape="circle"
                    icon="md-arrow-back"
                    @click="collapsedRigthSider"/>
        </div>
        <transition name="fade">
        <div
                v-if="!collapsedRight"
                style="float:right;">
            <Button :size="buttonSize" icon="ios-download-outline" type="primary" style="position: absolute;top: 17px; right: 17px;" @click="userLogin">Logout</Button>
            <Menu active-name="1-2" theme="dark" width="auto" :class="menuitemClasses">
                <MenuItem name="1-1">
                    <span>Категория</span>
                </MenuItem>
                <MenuItem name="1-2">
                    <span>Категория</span>
                </MenuItem>
                <MenuItem name="1-3">
                    <span>КАтегория</span>
                </MenuItem>
            </Menu>
        </div>
            </transition>
    </Sider>
  </Layout>
        <BackTop></BackTop>
    </div>
</template>

<script>
import './main.less'
export default {
	name: 'Main',
	data () {
		return {
			collapsedLeft: false,
			collapsedRight: true,
            loginModal : false,
			isUserLogin: false,
            showPanel: false,
			formInline: {
				email: '',
				password: ''
			},
			ruleInline: {
				email: [
					{ required: true, message: 'Please fill in the user name', trigger: 'blur' }
				],
				password: [
					{ required: true, message: 'Please fill in the password.', trigger: 'blur' },
					{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
				]
			}
		}
	},
	methods: {
		collapsedLeftSider () {
			this.collapsedLeft = !this.collapsedLeft
		},
		collapsedRigthSider () {
			this.collapsedRight = !this.collapsedRight
		},
		userLogin () {
			this.loginModal = true
		},
        verifyUser (name) {
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.loginModal = false
					sessionStorage.setItem('userToken', 'lalala')
					this.isUserLogin = true
				} else {
					this.$Message.error('Authentication error!')
				}
			})

		},
		userLogout () {
			this.formInline.email = ''
            this.formInline.password = ''
			sessionStorage.setItem('userToken', '')
			this.isUserLogin = false
		}
	},
    computed:{

    },
	watch: {
		isUserLogin: function () {
			this.showPanel = this.isUserLogin
		}
	}
}
</script>

<style lang="less">

</style>
